# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# code::blocks
*.cpb
*.layout
*.depend

# vscode
.vscode
.vscode/

# exceptions
!libSQL.a
!pdcurses.a
!libraries/pdcurses/wincon/*.o